body {
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
	color: #747704;
	font-size: 16px;
}

.container-fluid {
	max-width: 1000px;
	margin: 0 auto;
	padding: 0;
}

h1 {
	font-weight: 100;
}

h2,
h3,
h4,
p {
	margin: .25em 0;
	font-weight: 400;
}

.row { /* This used to be named div.row, and I changed to .row.  Under 768px, there was a margin in Bootstrap that causes horizontal scrolling. */
	margin: 0; /* Setting the margin to 0 takes care of that.  Need to see if there is something else I can do. (Or am doing wrong) */
}

.text-muted { /* I feel bad using this because this was used in a video, but I could not think of a better name :-/ */
	color: #bcbbbb;
}

#featured-work {
	margin-top: 1em;
}

hr {
	border-top: .25em solid #ddd;
}

@media screen and (min-width: 769px) and (max-width: 880px) {
	/* Between 880px and 769, the text at the bottom starts to run together, so I am making the text smaller for this size */
	p {
		font-size: 0.75em; /* Wanted 12px so 12/16 = .75em */
	}

	h3 {
		font-size: 1.125em; /* Wanted 18px so 18/16 = 1.125em */
	}
}

@media screen and (max-width: 768px) {
	.container-fluid { /* Added some padding to the top and bottom for mobile devices at the advice of team member Yann. */
		padding-top: 2em; /* 2ems translates to 32 pixels which may be too much, but I liked it. */
		padding-bottom: 2em;
	}

	.text-right {
		text-align: center;
	}

	img {
		display: block; /* This is specifically to fix the Udacity logo.  Otherwise, it does not properly center */
		margin: 0 auto;
	}

	/* This was named #featured-work .row div to catch the appropriate element in the DOM.  Changed to what you see 
	below  after the code review. */
	.add-margin-mobile { /*Adding some extra margin to better differentiate the different featured works */
		margin-top: 3em;
	}
}